extends innerLayout

block content
    .ui.fluid.icon.input
        input(type="text" placeholder="Что ищем?" name="geolocate" style="margin: 2px")
    input(id="pac-input" class="controls" type="text" placeholder="Search Box")
    .ui.embed#map
