extends innerLayout

block content
    table.ui.celled.table
        thead
            tr
                th.one.wide № площадки
                th Описание
                th.three.wide Адрес
                th(style="width:1px")
        tbody
            each site in sites
                tr
                    td.one.wide
                        a(href=`/site/${site.slug}`)= site.name
                    td!= site.description
                    td= site.location.address
                    td(style="width:1px")
                        if user && site.author.equals(user._id)
                            a(href=`/sites/${site._id}/edit`)
                                button.ui.icon.button
                                    i.edit.icon

